%% FF3 Validate App Configuration

{erl_opts, [debug_info]}.

{deps, [
    {ff3, {in_umbrella, true}},
    {jsx, "3.1.0"}
]}.

%% Build an escript; name becomes _build/default/bin/ff3_validate
{escript_name, "ff3_validate"}.
{escript_main_app, ff3_validate}.
{escript_incl_apps, [ff3, jsx]}.
{escript_incl_extra, [{jsx, "ebin/*"}]}.